# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.env/
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows
.DS_Store
Thumbs.db

# Data files
data.json
data_backup.json
database_tables.sql
db_viewer.py
news_dummy_data.json
